{% extends 'base.html' %}

{% block content %}
<h4>Select five or more different cities, and compare the levels of CO2 in these cities.</h4>

<form action="" id="plotone" method="POST" enctype="multipart/form-data" class="my-5 ">
    {% csrf_token %}
    <select class="city-multiple" name="states[]" multiple="multiple">
        {% for city in citydata %}
            <option value="{{city.name}}">{{city.name}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="my-4 w-100">Select</button>
</form>
{% if barchart %}
<img src="./media/barchart.png" />
{% endif %}

<script>
    $(document).ready(function() {
        $('.city-multiple').select2({ width: '100%', placeholder: "Select an Option", allowClear: true });
    });
</script>
{% endblock %}